* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 840px;
    padding: 0 20px;
    margin: 0 auto;
}

.slider .slider__input {
    display: none;
}

.slider__slides {
    width: 100%;
    /* max-width: 800px; */
    /* padding: 0 20px; */
    display: flex;
    margin: 0 auto;
    overflow-x: hidden;
}

.slider__item {
    transition: .3s;
    transform: translateX(0);
}

.slider__item_1 {
    background: url('./slides/slide1.jpg');
}

.slider__item_2 {
    background: url('./slides/slide2.jpg');
}

.slider__item_3 {
    background: url('./slides/slide3.jpg');
}

.slider__item_4 {
    background: url('./slides/slide4.jpg');
}

.slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__controls {
    display: flex;
}

.slider__controls label {
    box-sizing: unset;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
}

.slider__label {
    border: 2px solid #000;
    height: 100%;
    border-radius: 50%;
}

#slide1:checked ~ .slider__slides .slider__item {
    transform: translateX(0);
}

#slide2:checked ~ .slider__slides .slider__item {
    transform: translateX(-100%);
}

#slide1:checked ~ .slider__nav .slider__label_1,
#slide2:checked ~ .slider__nav .slider__label_2 {
    background-color: black;
}
