* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100vw;
    padding: 1.3rem;
    margin: 0 auto;
}

.slider .slider__input {
    display: none;
}

.slider__wrapper {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    overflow-x: hidden;
}

.slider__slides {
    width: 100%;
    display: flex;
    transition: .3s;
}

.slider__item {
    position: relative;
    width: 100%;
}

.slider__item_1 {
    background: url('./slides/slide1.jpg');
}

.slider__item_2 {
    background: url('./slides/slide2.jpg');
}

.slider__item_3 {
    background: url('./slides/slide3.jpg');
}

.slider__item_4 {
    background: url('./slides/slide4.jpg');
}

.slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.slider__names {
    overflow-x: hidden;
    width: 10rem;
}

.slider__names__wrapper {
    display: flex;
    width: 100%;
    transition: .3s;
}

.slider__name {
    position: relative;
    min-width: 100%;
    width: 100%;
}

.slider__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.slider__controls label {
    box-sizing: unset;
    cursor: pointer;
    width: .7rem;
    height: .7rem;
    padding: .7rem;
}

.slider__label_1,
.slider__label_2,
.slider__label_3,
.slider__label_4 {
    display: block;
    border: 2px solid #000;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
}

#slide1:checked~.slider__nav .slider__controls [for="slide1"] .slider__label,
#slide2:checked~.slider__nav .slider__controls [for="slide2"] .slider__label,
#slide3:checked~.slider__nav .slider__controls [for="slide3"] .slider__label,
#slide4:checked~.slider__nav .slider__controls [for="slide4"] .slider__label {
    background-color: black;
}

/* #slide1~.slider__slides > .slider__item {
    transform: translateX(0);
} */

#slide1:checked~.slider__wrapper .slider__slides,
#slide1:checked~.slider__nav .slider__names__wrapper {
    transform: translateX(0);
}

#slide2:checked~.slider__wrapper .slider__slides,
#slide2:checked~.slider__nav .slider__names__wrapper {
    transform: translateX(-100%);
}

#slide3:checked~.slider__wrapper .slider__slides,
#slide3:checked~.slider__nav .slider__names__wrapper {
    transform: translateX(-200%);
}

#slide4:checked~.slider__wrapper .slider__slides,
#slide4:checked~.slider__nav .slider__names__wrapper {
    transform: translateX(-300%);
}

@media (max-width: 480px) {
    .slider__nav {
        flex-direction: column-reverse;
        gap: 1.3rem;
    }

    .slider__names {
        width: 100%;
    }
}


